streamlit
pandas
numpy
gTTS
streamlit-aggrid
gdown
openpyxl
chardet
pyperclip
streamlit-js-eval
#pydub
#io

#streamlit_js_eval(js_expressions="sessionStorage.getItem('wordScore')", key="WORD_SCORE1")
#streamlit_js_eval(js_expressions="sessionStorage.clear();")
